<a href="/users/">All</a>
<a href="/users/user/{{user._id}}/edit">Edit</a>
<a href="/users/new">New</a>
<a href="#">Delete</a>
<h1>User</h1>
{{#if user}}
  <h3>{{user.name.first}} {{user.name.last}}</h3>
  <p>{{user.email}}</p>
  <p>{{user.phone}}</p>
{{/if}}
